body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.background {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
}

.smile {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  top: 100vh;
  position: absolute;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.smile-1 {
  background-image: url(../images/smile1.png);
}
.smile-2 {
  background-image: url(../images/smile2.png);
}
.smile-3 {
  background-image: url(../images/smile3.png);
}
.smile-4 {
  background-image: url(../images/smile4.png);
}
.smile-5 {
  background-image: url(../images/smile5.png);
}

.total-shadow {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  /*display: flex;*/
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: relative;
}

.total-block {
  /* background: #fff; */
  padding: 10px 100px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.lose {
  display: none;
}
.win {
  display: none;
}

.score-block {
  background: rgb(255, 255, 255);
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  left: calc(50% - 150px);
}
.start-game-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.start-game-window h1 {
  font: size 10000px;
  font-weight: bold;
  font-family: cursive;
  color: darkblue;
}
.start-game-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
